# {{ ansible_managed }}

hotcopy = no
sqldump = yes
compress = {{backupninja_mysql_compress}}
dbhost = localhost
backupdir = {{backupninja_mysql_backupdir}}
databases = {{backupninja_mysql_databases|default('all')}}
configfile = {{backupninja_mysql_configfile}}
sqldumpoptions = --single-transaction --complete-insert --add-drop-table --quick --quote-names
