# {{ ansible_managed }}

mongodump = /usr/bin/mongodump
# mongouser = <username>
# mongopass = <password>
# mongodb = <db to backup>
# mongocollection = <collection to backup>
backupdir = /local/backups/mongodb
dbhost = localhost
dbport = 27017
