# {{ ansible_managed }}

options = 
nicelevel = 19
testconnect = no

[gpg]
sign = no
encryptkey = 
password = {{backupninja_encryption_password}}

[source]
# Global Includes
{% for path in backupninja_global_include_paths %}
include = {{path}}
{% endfor %}
# Local Includes
{% for path in backupninja_include_paths %}
include = {{path}}
{% endfor %}

# Global Excludes
{% for path in backupninja_global_exclude_paths %}
include = {{path}}
{% endfor %}
# Local excludes
{% for path in backupnina_exclude_paths %}
exclude = {{path}}
{% endfor %}

[dest]
incremental = {{backupninja_incremental}}
increments = {{backupninja_increments}}
keep = {{backupninja_keep}}
keepincroffulls = {{backupninja_keepincroffulls}}
bandwidthlimit = {{backupninja_bandwidthlimit}}
sshoptions = {{backupninja_sshoptions}}
desturl = sftp://{{backup_name}}@{{backup_domain}}/{{backup_root}}/{{ansible_hostname}}/

