#!/bin/bash

# {{ansible_managed}}

IGNORE="$(basename $0)"
LOGFILE="{{backupninja_logfile}}"
CHECKNAME="backup"

NSCA="{{send_nsca|default('/usr/sbin/send_nsca')}}"
NSCACONF={{send_nsca_config|default('/etc/nagios/send_nsca.cfg')}}
NSCASERVER={{nsca_server}}
NSCAPORT={{nsca_port|default('5667')}}
HOSTNAME={{inventory_hostname|default('undefined')}}

if [ -r /root/scripts/monitor.rc ]; then
	source /root/scripts/monitor.rc
fi

cd /etc/backup.d
for file in *
do
	if [ "$file" != "$IGNORE" ]; then
		RETVAL=1
		echo "Checking...."
		DATA=`tail -50 $LOGFILE | egrep -e ".*finished.*${file}.*" | tail -1`
		if echo $DATA | grep SUCCESS; then
			RETVAL=0
		fi
		echo "Reporting: $HOSTNAME ${CHECKNAME}_$file $RETVAL $DATA\n"
		echo "${HOSTNAME}	${CHECKNAME}_$file	${RETVAL}	${DATA}" | ${NSCA} -H ${NSCASERVER} -p ${NSCAPORT} -c ${NSCACONF}
	fi
done

exit 0
